<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>To Do List</h1>

    {% if tomagatchis is not empty %}
    <p>Here are all your animals:</p>
      <ul>
        {% for tomagatchi in tomagatchis %}
          <h3><li>{{ tomagatchi.getName }}</li></h3>
            <ul class="list-unstyled">
              <li>Food Amount : {{ tomagatchi.getFood }}</li>
              <li>Sleep Amount : {{ tomagatchi.getSleep }}</li>
              <li>Happiness Level : {{ tomagatchi.getHappiness }}</li>
              <li>Remaining Days : {{ tomagatchi.getTime }}</li>
          </ul>
        {% endfor %}
      </ul>
    {% endif %}
    <hr>
    <br/>
    <form action='/tomagatchis' method='post'>
        <h3><label for='name'>Tomagatchi Name</label></h3>
        <input id='name' name='name' type='text'>

        <button type='submit'>Create</button>
    </form>
    <form action='/delete_tomagatchis' method='post'>
        <button type='submit'>Clear</button>
    </form>
</body>
</html>