<html>
<head>
    <title>Tomagatchi</title>
</head>
<body>
  <div class="container">
    <h1>Pets</h1>

    {% if tomagatchis is not empty %}
    <h4>Here are all your pets:</h4>
      {% for tomagatchi in tomagatchis %}
        <ul>
        <li>{{ tomagatchi.getName }}</li>
            <ul class="list-unstyled">
              <li>Food Amount : {{ tomagatchi.getFood }}</li>
              <li>Sleep Amount : {{ tomagatchi.getSleep }}</li>
              <li>Days: {{ tomagatchi.getTime }}</li>
              <li>Happiness Level : {{ tomagatchi.getHappiness }}</li>
            </ul>
        {% endfor %}
      </ul>
    {% endif %}
    <hr>
    <br/>
    <form action='/tomagatchis' method='post'>
        <h3><label for='name'>Pet</label></h3>
        <input id='name' name='name' type='text'>

        <button type='submit'>Create</button>
    </form>
    <form action='/delete_tomagatchis' method='post'>
        <button type='submit'>Clear</button>
    </form>
  </div>
</body>
</html>